.itemDetail__container {
    max-width: 80%;
    margin: 0px auto;
    padding-top: 40px;
  }
  
  .itemDetail__container h1 {
    background: #000;
    color: #fff;
    text-align: center;
    border-radius: 20px 0 20px 0;
    margin-bottom: 20px;
  }
  
  .itemDetail__columns {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  .itemDetail__column--pictures,
  .itemDetail__column--picture,
  .itemDetail__column--info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto 10px;
  }
  
  .itemDetail__column--pictures {
    width: 100px;
  }
  
  .itemDetail__column--picture {
    width: 400px;
    padding: 20px;
  }
  
  .itemDetail__column--info {
    width: 400px;
  }
  
  .itemDetail__column--info p {
    margin: 5px 0;
  }
  
  .itemDetail__column--info h2 {
    margin: 5px 0;
  }
  
  .itemDetail__column--pictures img,
  .itemDetail__column--picture img {
    display: block;
    width: 100%;
  }
  
  .itemDetail__column--pictures div {
    margin: 10px 0;
  }
  
  .itemDetail__column--pictures img:hover {
    cursor: pointer;
  }
  
  .itemDetail__btnAddToCart {
    height: 40px;
    width: 100%;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.25s;
  }
  
  .itemDetail__btnAddToCart:hover {
    background: #fff;
    color: #000;
    border: 1px solid black;
    transition: 0.25s;
  }
  