.form__container {
    min-height: calc(100vh - 172px - 35px);
    /*max-width: 60%;*/
    margin: 0px auto;
    padding-top: 40px;
}

.form__container h2 {
    background: rgb(61, 61, 61);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 15px;
    height: max-content;
    padding: 10px;
}

.form__container--form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.form__input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    color: black;
    font-family: 'Calibri', sans-serif;
}

.form__container--button {
    margin: 0 auto;
    height: 40px;
    width: fit-content;
    justify-content: center;
    padding: 10px;
    background: rgb(194, 194, 194);
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.5s;
}

.form__container--button:hover {
    background: black;
    color: rgb(250, 198, 107);
    transition: 0.5s;
    letter-spacing: 1px;
}

.form__order {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__order p {
    width: 75%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: 26px;
    color: black;
    background: rgb(194, 194, 194);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}

.form__btnEND {
    text-decoration: none;
    padding-top: 50px;
    width: 250px;
    text-align: center;
    color: #000;
    font-size: 24px;
    transition: 0.25s;
}

.form__btnEND:hover {
    font-weight: bold;
    transition: 0.25s;
}

@media screen and (max-width: 768px) {
    .form__order p {
        font-size: 18px;
    }

    .form__container--form {
        width: 100%;
    }
    
}