.cartContainer {
    min-height: calc(100vh - 172px - 35px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.cartContainer__container {
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}

.cartContainer__container h2 {
    text-align: center;
    height: fit-content;
    padding: 5px;
}

.cartContainer__columns {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    font-weight: bold;
}

.cartContainer__products {
    margin: 0;
}

.cartContainer__products div {
    margin: 10px
}

.cartContainer__totalPrice {
    padding: 10px;
    text-align: end;
}

.cartContainer__buttons {
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cartContainer__btnclearItemsFromCart {
    height: 40px;
    width: 180px;
    background: rgb(255, 156, 8);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s;
}
.cartContainer__btnForm {
    height: 40px;
    width: 180px;
    background: rgb(255, 156, 8);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s;
}

.cartContainer__link {
    height: 40px;
    width: 180px;
    background: rgb(255, 156, 8);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s;

}

.cartContainer__btnForm:hover {
    background: #006878;
    color: white;
    transition: 0.5s;
}

.cartContainer__btnclearItemsFromCart:hover {
    background: #dc0054;
    color: black;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .cartContainer__products {
        margin: 0;
        padding: 0;
    }

    .cartContainer__products div {
        margin: 10;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .cartContainer__buttons {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
    }

    .cartContainer__btnclearItemsFromCart {
        height: 60px;
        width: 100px;
        margin-bottom: 5px;
        padding: 5px;

    }
    .cartContainer__btnForm {
        height: 60px;
        width: 100px;
        margin-bottom: 5px;

    }
    .cartContainer__link {
        height: 60px;
        width: 100px;
        margin-bottom: 5px;

    }
}