.cartContainer__container {
    width: 50%;
    margin: 0 auto;
    min-height: calc(100vh - 172px - 35px);
}

.cartContainer__container h2 {
    text-align: center;
    padding: 40px 10px 10px 10px;
}

.cartContainer__columns {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.cartContainer__products {
    padding: 10px;
}

.cartContainer__totalPrice {
    padding: 10px;
    text-align: end;
}

.cartContainer__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cartContainer__btnclearItemsFromCart,
.cartContainer__btnForm {
    height: 40px;
    width: 180px;
    background:rgb(255, 156, 8);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s;
}

.cartContainer__btnForm:hover {
    background: #006878;
    color: white;
    transition: 0.5s;
}

.cartContainer__btnclearItemsFromCart:hover {
    background: #dc0054;
    color: black;
    transition: 0.5s;
}