.item__card {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.item__card:hover {
    box-shadow: 0 8px 32px 0 rgba(65, 65, 65, 0.25);
}

.item__card--data {
    padding: 2px 16px;
    /*border-top: 2px solid #dc0054;*/
    border-top: 2px solid rgb(61, 61, 61);
    margin-bottom: 25px;
}

.item__card--data h5 {
    text-align: center;
}

.item__button--more {
    background-color: rgb(61, 61, 61);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    transition: letter-spacing 0.5s, box-shadow 0.5s;
    border-style: none;
}

.item__button--more:hover {
    color: #ffffff;
    /*letter-spacing: 0.1rem;*/
    box-shadow: 0 4px 8px 0 rgba(200, 16, 46, 0.7);
}

.img-fluid {
    display: block;
    width: 100%;
}