.navbar__logo img {
    height: 150px;
    width: auto;
    border: none;
}

.navbar__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 1);
    height: auto;
}

.navbar__items--btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    transition: box-shadow 0.2s;
    border-style: none;
    height: min-content;
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    width: fit-content;
}

.navbar__items--btn:hover {
    box-shadow: 0 4px 8px 0 rgba(250, 198, 107, 0.9);
    background-color: #F9C56D;
    color: #F9C56D;
    color: black;
}

.navbar__items--btnON {
    background-color: rgb(250, 198, 107); /*F9C56D*/
    color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    transition: box-shadow 0.5s;
    border-style: none;
    height: min-content;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    width: fit-content;
}

button.navbar-toggler{
    background-color: rgb(194,194,194);
}

.navbar-nav{
    align-items: center;
}

.collapse.navbar-collapse ul{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}