  .cartItem__producto {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin: 10px;
      align-items: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
      border-radius: 10px;
  }

  .cartItem__producto--detail {
      display: flex;
      align-items: center;
  }

  .cartItem__producto--detail div {
      margin-left: 20px;
  }

  .cartItem__producto--detail img {
      height: min-content;
      width: 50px;
  }

  .cartItem__producto--btnDelete {
      height: 35px;
      width: 35px;
      background: rgb(255, 156, 8);
      color: Black;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      padding: 5px;
      font-size: 15px;
      margin-right: 20px;
  }

  .cartItem__producto--btnDelete:hover {
      color: rgb(255, 156, 8);
      background: black;
      transition: 0.5s;
  }

  @media screen and (max-width: 768px) {
      .cartItem__producto {
          display: block;
          flex-direction: row;
          border-color: black;
          margin: 20px;
      }

      .cartItem__producto--btnDelete {
          margin: 10px 0;
      }

      .cartItem__producto--detail {
          margin-top: 10px;
          text-align: center;
      }


  }