.cartItem__product {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  .cartItem__product--detail {
    display: flex;
  }
  
  .cartItem__product--btnDelete {
    border: none;
    background: #fff;
    color: #f00;
    margin-right: 16px;
    font-size: 1.1rem;
  }
  
  .cartItem__product--btnDelete:hover {
    cursor: pointer;
  }
  