.itemCount__container {
    width: 100%;
  }
  
  .itemCount__quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  .itemCount__quantity--btnSubItem,
  .itemCount__quantity--btnAddItem {
    height: 35px;
    width: 35px;
    background: rgb(61, 61, 61);
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.25s;
  }
  
  .itemCount__quantity--btnSubItem:hover,
  .itemCount__quantity--btnAddItem:hover {
    background: rgba(200, 16, 46, 0.7);
    color: #000;
    border: 1px solid rgb(200, 16, 46);
    transition: 0.25s;
  }
  
  .itemCount__quantity--totalItem {
    font-size: 24px;
    margin: 0;
  }
  